### Heroes Of Pymoli Data Analysis
* The 40+ age group has the least percentage composition of(2.08%) while the peak age group falls between 20-24 (44.8%).
* The most popular item,Oathbreaker, Last Hope of the Breaking Storm, was the most popular with a 12 purchase count.There were also other notable popular items;Fiery Glass Crusader,Extraction, Quickblade Of Trembling Hands and Nirvana that had a purchase count of 9.
* The most popular item,Oathbreaker, Last Hope of the Breaking Storm  was also the most profitable item with a purchase count of 12 and a total purchase value is $50.76.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#To create a unique array of players
unique_SN = purchase_data["SN"].unique()
#The length of unique players will be equal to the length of the array
unique_players=len(unique_SN)
#Writing a dictionary of total players comprised of unique players
total_players_dict={"Total players":[unique_players]}
#Creating a dataframe
total_players = pd.DataFrame(total_players_dict)
total_players

   Total players
0            576

In [4]:
total_players.iloc[0,0]

576

In [7]:
#To define variables
unique_items=len(purchase_data["Item ID"].unique())
average_price=purchase_data["Price"].mean()
number_of_purchases=purchase_data["Purchase ID"].count()
total_revenue=purchase_data["Price"].sum()
#To create a dataframe
Summary_table = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[average_price], "Number of Purchases":[number_of_purchases], 
                         "Total Revenue":[total_revenue]})
Summary_table
# Format with currency style
Summary_table.style.format({"Average Price":"${:,.2f}",
                                "Total Revenue":"${:,.2f}"})

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#To create a new copy of the data provided
new_data=purchase_data
#To eliminate the duplicates in the gender column
player=new_data.drop_duplicates(subset=["Gender","SN"])
count =player["Gender"].value_counts()
#To get the respective gender percents
male_percent=count[0]/(total_players.iloc[0,0])*100
female_percent=count[1]/(total_players.iloc[0,0])*100
non_disclosed_percent=count[2]/(total_players.iloc[0,0])*100
#To create a dataframe to combine the above 
gender_demographics=pd.DataFrame({"Total Count":count, "Percentage of Players":[male_percent, female_percent, non_disclosed_percent]})
gender_demographics

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [93]:
# Group purchase_data by Gender
gender_data=purchase_data.groupby(['Gender'])
# Count the total purchases by gender 
purchase_count = gender_data["Purchase ID"].count()
#To determine the eavrage price by gender
average_price=gender_data["Price"].mean()
average_price
#To determine total purchase value 
total_purchase_value=gender_data["Price"].sum()
total_purchase_value
#To determine average purchase price per person
average_price_per_person=total_purchase_value/count
average_price_per_person
#To create a summary data frame
purchase_analysis=pd.DataFrame({"Purchase Count":purchase_count, "Average Purchase Price":average_price, "Total Purchase Value":total_purchase_value,"Average Total Purchase per person":average_price_per_person})
purchase_analysis
# Format with currency style
purchase_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}", "Average Total Purchase per person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [32]:
# Create the bins in which Data will be held
bins= [0,9,14,19,24,29,34,39,1000]
group_names=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# Segment and sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=group_names)
purchase_data

# Create new data frame with the added "Age Group" and group it
age_grouped = purchase_data.groupby("Age Group")


# # Count total players by age category
total_count_age = age_grouped["SN"].nunique()

#  Calculate percentages by age category 
percentage_by_age = (total_count_age/total_players.iloc[0,0]) * 100
percentage_by_age

# # Create data frame with obtained values
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

# # Format the data frame with no index name in the corner
age_demographics.index.name = None

# # Format percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
# Count purchases by age group
purchase_count_age = age_grouped["Purchase ID"].count()
purchase_count_age

# # Obtain average purchase price by age group 
avg_purchase_price_age = age_grouped["Price"].mean()
avg_purchase_price_age

# # Calculate total purchase value by age group 
total_purchase_value = age_grouped["Price"].sum()
total_purchase_value

#  Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/total_count_age
avg_purchase_per_person_age

# # Create data frame with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                  "Average Purchase Price": avg_purchase_price_age,
                                "Total Purchase Value":total_purchase_value,
                                "Average Purchase Total per Person": avg_purchase_per_person_age})
age_demographics

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# # Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                              "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [65]:
# Group purchase data by screen names
spender_stats = purchase_data.groupby("SN")

# Count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

# Calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [85]:
# Create new data frame with items related information 
items = purchase_data[["Item ID", "Item Name", "Price"]]
# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])
# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()
# Calcualte the purchase value per item 
purchase_value = (item_stats["Price"].sum()) 
# Find individual item price
item_price = purchase_value/purchase_count_item
# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})
# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [88]:
# Sort in descending order to obtain most profitable items
most_profitable = popular_formatted.sort_values(["Total Purchase Value"], ascending=False).head()
most_profitable
# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})